* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.container {
  width: 210mm;
  height: 297mm;
  background: white;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.container .sidebar {
  background-color: #36332b;
  color: white;
  width: 45%;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.container .sidebar .yellow-shape {
  width: 414px;
  height: 549px;
  background: #f3aa03;
  position: absolute;
  top: -301px;
  left: -173px;
  transform: rotate(47deg);
  z-index: 0;
}

.container .sidebar .side-img {
  width: 168px;
  height: 168px;
  border-radius: 90px 90px 90px 0;
  overflow: hidden;
  margin: 1.5em auto;
  border: 6px solid white;
  position: relative;
  z-index: 2;
}

.container .sidebar .side-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container .sidebar .side-content {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  justify-content: center;
  position: relative;
}

.side-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #a3a3a3;
}

.contact-item {
  position: relative;
}

.contact-item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -36px;
  width: 10px;
  height: 10px;
  background-color: #f3aa03;
  border-radius: 100px;
}

.container .sidebar .side-topics {
  padding-left: 2rem;
}

.container .sidebar .side-topics .topics-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .sidebar .side-topics .topics-header .topics-tittle {
  font-size: 20px;
  position: relative;
}

.topics-tittle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -87px;
  width: 8px;
  height: 25px;
  background-color: #f3aa03;
  border-radius: 100px;
}

.container .sidebar .side-topics .topics-items {
  margin: 1em 0;
}

.container .sidebar .side-topics .contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .sidebar .side-topics .topics-subtitles {
  font-size: 14px;
  margin-bottom: 0.5em;
  position: relative;
}

.topics-subtitles::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -35px;
  width: 10px;
  height: 10px;
  background-color: #f3aa03;
  border-radius: 100px;
}

.container .sidebar .side-topics .topics-list {
  font-size: 14px;
  color: #fffeff;
}

.container .sidebar .side-topics .topics-list .info-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container .sidebar .side-topics .topics-list .topics-list-items {
  list-style: none;
  margin: 0.5em 0;
}

.linha-pontilhada {
  border: 2px dashed white;
  margin-left: 2.5em;
  width: 80%;
}

i {
  background-color: #f3aa03;
  width: 30px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  padding: 10px 3px 0 3px;
}

.side-icon {
  background-color: white;
  width: 30px;
  height: 27px;
  border-radius: 50px;
  text-align: center;
  padding: 10px 3px 0 3px;
  color: #111;
}

.side-icon-list {
  background-color: white;
  font-size: 12px;
  width: 20px;
  height: 15px;
  border-radius: 50px;
  text-align: center;
  padding: 6px 2px 2px 2px;
  color: #111;
}

.cv-icon {
  background-color: #f3aa03;
  width: 30px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  padding: 10px 3px 0 3px;
  color: #111;
}

/* FIM DO ESTILOS SIDEBAR */

/* ESTILOS CV-CONTENT */

.cv-content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.cv-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  width: 2px;
  height: 100%;
  background-color: rgb(123, 120, 121);
  z-index: 1;
}

.cv-content .cv-header {
  margin-bottom: 0.5em;
  background-color: #d9d9d9;
  margin-top: 30px;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
}

.cv-header::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 24px;
  width: 8px;
  height: 75px;
  background-color: #f3aa03;
  border-radius: 100px;
  z-index: 3;
}

.cv-content .cv-header .cv-header-tittle {
  font-size: 32px;
}

.cv-content .cv-header .cv-header-tittle .header-tittle-yellow {
  color: #f3aa03;
}

.cv-content .about-section {
  padding: 50px;
}

.cv-content .section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
  position: relative;
}

.section-header:before {
  content: "";
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 35px;
  background-color: #f3aa03;
  border-radius: 100px;
  z-index: 2;
}

.cv-content .section-header .sectio-tittles {
  font-size: 20px;
}

.cv-content .cv-text {
  max-width: 600px;
  line-height: 1.6;
}

.cv-content .experience-section {
  padding: 0 50px;
}

.cv-content .experience-section .experience-item {
  max-width: 550px;
  margin-bottom: 1.5rem;
}

.cv-content .experience-section .experience-item .experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
}

.cv-content
  .experience-section
  .experience-item
  .experience-header
  .job-tittle {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  margin-bottom: 0.1em;
}

.cv-content .experience-section .experience-item .experience-header .job-date {
  color: #36332b;
  margin-bottom: 0.5em;
}

.cv-content .experience-section .experience-item .job-company {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0.4em;
  color: #36332b;
}

.job-tittle::before {
  content: "";
  position: absolute;
  top: 80;
  left: 24px;
  width: 8px;
  height: 8px;
  background-color: #f3aa03;
  border-radius: 100px;
  z-index: 3;
}

.cv-content .skills-section {
  padding: 0 50px;
}

.cv-content .skills-section .skills-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1.5rem;
}

.cv-content .skills-section .skill-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 0.1em;
  width: 100%;
}

.cv-content .skills-section .skill-item .skills-list {
  display: flex;
}

.skill-name {
  font-size: 10px;
  width: 200px;
}

.cv-content .skills-section .skill-item .skill-bar {
  width: 100%;
  height: 5px;
  background: #d9d9d9;
  margin-top: 8px;
  border-radius: 5px;
}

.cv-content .skills-section .skill-item .skill-progress {
  width: 70%;
  height: 100%;
  background: #f3aa03;
  border-radius: 5px;
}

.cv-box {
  position: relative;
}

.cv-content .corner-shape {
  width: 162px;
  height: 215px;
  background: #f3aa03;
  position: absolute;
  bottom: -255px;
  right: -75px;
  transform: rotate(45deg);
  z-index: 10;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    background: white;
  }

  .container {
    box-shadow: none;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page-wrapper {
    padding: 0;
  }
}
